.footer{
       
    /* bottom:0; */
    
    color: white;
    height: 70vh;
    background-color: black;
    border-top: 3px solid red;
    padding: 50px;
    line-height: 30px;
   
}
.footer h6{
    padding: 10px;
}
.copy-right{
    color: gray;
    text-align: center;
    font-size: 14px;
    padding: 30px;
    margin-top: 20px;
   
    
}
.footer li{
    list-style: none;
    font-size: 15px;
}
.footer li a{
    text-decoration: none;
    color: grey;
   font-size: 16px;
}
.footer a:hover{
    color: red;
    border: none
}

