.orderdetail{
   
    width: 100%;
    max-width: auto;
    height: 100vh;
    margin-bottom:20px;
   
    
}
.orderform{
    
        border:2px solid rgb(14, 5, 5);
       margin: 0 20px 20px 20px;
       text-align: center;
       padding: 50px;
       gap:10px;
}
.orderform input{
    border: none;
    outline: none;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 300px;
    height: 45px;
    background-color: rgba(7, 110, 55, 0.432);
    
}
.orderform input:focus{
    border: 2px solid rgb(1, 1, 48);

}
.placeorder_btn{
    width:200px;
    height: 50px;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(4, 61, 14, 0.993);
}
.placeorder_btn:hover{
    color: black;
    
    background-color:rgba(73, 212, 18, 0.89);
}
